@import "setup";
@import "selectButtonStyle";

// variables
$darkColor: #3C434D;
$mediumColor: #7C838E;
$lightColor: #C3B9B0;
$accentColor: #FAA71A;
// base styling
h1, h2, h3 {
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	text-align: center;
}	

h1 {
	margin: 10px 0 20px;
}

h2{
	margin: 10px 0;
	font-size: 20px;
	font-weight: 100;
}
p {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 20px;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 3px;
}
label {
	color: $mediumColor;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 3px;
}
.headerNext, .submitButton, .headerBack, .resetButton {
	background-color: $accentColor;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border: none;
	width: 200px;
	height: 50px;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	transition: all .5s ease;
}
.is-active {
	box-shadow: 0 25px 15px -15px rgba(#000, 1);
	transform: translateY(8px);
	background-color: $darkColor;
	color: $accentColor;
	border: none;
	outline: none;
}

.special{
	font-size: 11px;

}

.wrapper {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}
input {
	font-size: 18px;
	letter-spacing: 1px;
}
// end of base styling
// header styling
header {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../assets/firstHero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	background-position: center;
	min-height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.searchBar {
	display: flex;
	width: 80%;
	padding: 10px 0;
}
.fa-info-circle:before {
	position: absolute;
	color: $accentColor;
	font-size: 30px;
	top: 10px;
	left: 10px;
}
.credits {
	position: absolute;
	top: 10px;
	left: 45px;
	p {
		margin: 0;
		text-align: left;
		font-size: 12px;
		display: none
	}
}
.js-example-basic-single {
	width: 100%;
	margin: 20px;
	text-align: center;
	background: transparent;
	appearance: none;
	font-size: 20px;
	border-radius: 0;
}
#select2-city-container {
	color: $darkColor;
}
.select2-results__options li {
	padding: 10px 5px;
	text-transform: capitalize;
}
form {
	max-width: 850px;
	margin: 0 auto;
}
.firstScreen {
	display: flex;
	transform: translateY(-20%);
	img {
		width: 60px
	}
}

.firstScreen, .secondScreen, .thirdScreen {
	flex-direction: column; 
	justify-content: center;
	align-items: center;
}
.secondScreen, .thirdScreen, .results, .cityDetails, .resetButton {
  display: none;
}
.current {
	display: flex;
}
.coffeeConsumption, .alcoholConsumption, .housingOption, .budgetOption {
	margin: 40px 0;
}
.secondScreen, .thirdScreen {
	text-align: center;
}
.choicesContainer {
	border: 3px solid $lightColor;
	display: inline-flex;
	border-radius: 3px;
	width: 80%;
	margin: 0 auto;
}
.choice {
	height: 100%;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	background: white;
	border-right: 1px solid $lightColor;
	text-transform: capitalize;
	letter-spacing: 1px;
	&:last-of-type {
		border-right: none;
	}
	&:hover {
		background: rgba(68,108,179, 0.5);
		border-color: rgba(68,108,179, 0.5);
		cursor: pointer;
	}
}
.housing {
	width: 50%;
}
.cafe, .beer {
	width: 16.8%;
}
#budget {
	width: 200px;
	padding: 10px;
}
.buttons {
	display: flex;
	justify-content: space-around;
}
.submitButton:disabled {
	background-color: rgba(250,167,26, 0.1);
	color: rgba(255,255,255,0.1);
}
.active {
	background: $mediumColor;
	color: white;
}

.capitalize {
	text-transform: capitalize;
}

.results .result-details {
	background-size: cover;
}
.results {
	background: $accentColor;
	p {
		margin: 0;
		padding: 20px;
	}
}

.cityContainer {
	display: flex;
	max-height: 600px;
	overflow: hidden;
	box-shadow: -1px 20px 107px 2px rgba(195,185,176,0.55);
}

.stamp{
	height: 100px;
	width:100px;
	align-self: flex-end;
}

.cityImage {
	width: 70%;
	z-index: 99; 
	position: relative;
	overflow: hidden;
	p {
		position: absolute;
		top: 40%;
		left: 40%;
		transform: translate(50% -50%);
		color: red;
		z-index: -1;
		text-align: center;
	}
	img {
		display: block;
		height:100%;
		width:100%;
	}
}

.detailContainer{
	width: 30%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	i {
		width: 20px;
		text-align: center;
		color: $darkColor;
		margin-right: 5px;
	}

	 p {
		display: inline;
		color: $darkColor;
	}

	h3{
		align-self:flex-end;
		border-right: 3px solid $accentColor;
	}
	div{
		margin: 10px 0;
	}
}
.cityDetails {
	padding: 60px 0;
}
.cityName {
	padding: 0 10px;
	margin: 0;
	color: $darkColor;
	text-transform: uppercase;
	font-size: 35px;
}

.airplane {
	position: relative;
	animation: fly 4s ease;
}

@keyframes fly {
	0% {
		left: -55vw;
		top: 100vh;
	}
	
	100% {
		left: 0;
		top: 0;
	}
}