@import "setup";

// variables
$darkColor: #3C434D;
$mediumColor: #7C838E;
$lightColor: #C3B9B0;
$accentColor: #FAA71A;

h1, h2, h3 {
	font-family: 'Quicksand', sans-serif;
	color: $darkColor;
	text-align: center;

}	

p{
	font-family: 'Roboto', sans-serif;
	color: $mediumColor;
	font-size: 18px;
	line-height: 1.7;
	text-align: center;
}

.js-example-basic-single {
	width: 400px;
	text-transform: capitalize;
}

.secondScreen, .results{
  display:none;
}

.dropDown{
	text-align: center;
}
.firstScreen{
	background-image: url(../../assets/firstHero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.firstScreen img {
	width: 100px;
} 

img path{
	fill: $accentColor;
}
.choicesContainer {
	border: 3px solid lightgrey;
	display: inline-flex;
	border-radius: 3px;
	max-width: 500px;
}

.choice {
	height: 100%;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	background: white;
	border-right: 1px solid lightgrey;
	text-transform: capitalize;
	letter-spacing: 1px;
	&:last-of-type {
		border-right: none;
	}
	&:hover {
		background: rgba(68,108,179, 0.5);
		border-color: rgba(68,108,179, 0.5);
		cursor: pointer;
	}

	.housing {
		width: 50%;
	}
}

.active {
	background: red;
}


