@import "setup";

// variables
$darkColor = #3C434D;
$mediunColor = #7C838E;
$lightColor = #C3B9B0;
$accentColor = #FAA71A;


h1, h2, h3 {
	font-family: 'Quicksand', sans-serif;
}	

p{
	font-family: 'Roboto', sans-serif;
}

.js-example-basic-single {
	width: 400px;
	text-transform: capitalize;
}

