@media (max-width: 870px) {
	.cityContainer {
		flex-direction: column-reverse;
		max-height: inherit;
	}
	.cityImage {
		display: flex;
		flex-direction: column-reverse;
		p {
			position: relative;
			top: 0;
			left: 0;
		}
	}
	.detailContainer, .detailContainer_costs, .cityImage {
		width: 100%;
	}
	.detailContainer_costs {
		padding: 0 40px;
		display: flex;
		flex-flow: row wrap;
		div {
			width: 50%;
		}
		div:nth-child(2n), .showWeather {
			margin-left: 50px;
			width: calc(50% - 50px);
		}
	}
}
@media (max-width: 510px) {
	.wrapper {
		width: 95%;
	}
	.searchBar {
		flex-direction: column;
		align-items: center;
		width: 100%;

		button {
			margin-top: 30px;
		}
	}
	.select2-container {
		width: 100% !important;
	}
	#budget {
		width: 80%;
	}
	.detailContainer_costs {
		padding: 0 10px;
		div:nth-child(2n), .showWeather {
			margin-left: 30px;
			width: calc(50% - 30px);
		}
	}
}
@media (max-width: 450px) {
	.firstScreen {
		transform: translateY(0);
	}
	.choicesContainer, .choice.housing {
		width: 100%;
	}
	.buttons, .housingOption .choicesContainer {
		flex-direction: column;
		align-items: center;
	}
	.buttons {
		flex-direction: column-reverse;
	}
	.housingOption .choicesContainer, .budgetOption input {
		width: 80%;
	}
	.choice.housing:last-of-type {
		border-top: 1px solid $lightColor;
	}
	.headerNext, .submitButton {
		margin-bottom: 30px;
	}
	.cityImage {
		display: none;
	}
	.detailContainer_costs div {
		width: 100%;
		&:nth-child(2n), &.showWeather {
			margin-left: 0;
			width: inherit;
		}
	}
}